:root {
    --primary-purple: mediumpurple;
    --dark-purple: darkorchid;
    --white: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
}

header .header-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 45px;
}

header .header-nav a {
  color: var(--primary-purple);
}

header .header-nav a:hover {
    text-decoration: underline;
    color: var(--dark-purple);
  }

main.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;

}

main.main-content .overview {
    text-align: center;
    margin: 0 3rem 2rem;
}

main.main-content button, main.main-content button a, main.main-content #user-initials-submit {
    width: 100px;
    margin: 0 auto;
    border: 0;
    background: var(--primary-purple);
    color: var(--white);
    padding: 10px;
    border-radius: 5px;
}

main.main-content .question-choices {
    width: 300px;
    margin: 0 auto;
}

main.main-content .question-choices .anwser-choices-list {
    list-style-position: inside;
}

main.main-content .question-choices .anwser-choices-list li {
    list-style-position: inside;
    background: var(--primary-purple);
    color: var(--white);
    padding: 0.5rem;
    margin: 10px 0;
    border-radius: 5px;
}

main.main-content .question-choices .anwser-choices-list li:hover {
    background: var(--dark-purple);
}

.anwser-results {
    display: none;
}

main.main-content .initials {
    display: flex;
    flex-direction: column;
    align-items: center;
}